pydantic-settings
python-dotenv
langchain
langchain-openai
langchain-community
faiss-cpu 
tiktoken
fastapi
uvicorn[standard]
openai
google-generativeai






python-dotenv

langchain

langchain-openai

langchain-community

faiss-cpu 

tiktoken

uvicorn[standard]

openai

google-generativeai

python-multipart

langchain_google_genai

langchain_core

pydantic<2

Cython

PyYAML

fastapi==0.99.1

google-genai